body {
	margin: 60px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.863);
}


/* Reuseables */

.page-width {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}

.list-reset {
	padding-left: 0;
  list-style: none;
  text-decoration: black;
}


/* Social menu */

.social-menu {
  margin-left: -40px;
  margin-top: -70px;
  position: fixed;
}

.social-list {
  list-style: none;
  padding: 0%;
  width: 0%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 8px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #70747e;
    color: white;
  }
  
  .fa-linkedin {
    background: #70747e;
    color: white;
  }
  
  .fa-instagram {
    background: #70747e;
    color: white;
  }
  

/* Navigation */

.navigation {
  border-radius: 8px;
  margin: 30px;
	border-bottom: 1px solid rgb(175, 168, 168);
}

.navigation .menu {
  display: flex;
  justify-content: flex-end ;
}

.navigation ul {
	display: flex;
}

.navigation li {
	padding-right: 20px;
}

.navigation li:last-child {
	padding-right: 0;
}

.navigation .btn-primary:hover {
  box-shadow: 0px 4px 8px 0px rgba(186,186,186,1);
	transform: scale(1.04);
	transition: all .4s ease-in-out;
	background-color: rgb(134, 130, 130);
  border-color: rgb(17, 16, 16);
  text-decoration: black;
}


/* HLT */

.hlt {
	position: center;
  margin: 30px;

}

.logo-reset {
  width: 1250px;
}


/* Legend */

.legend-header h1 {
  color: rgb(161, 154, 154);
}

.legend-text {
  font-weight: 300;
  color: #a2a5ad;
}


/* Services */

.section-services {
  display: flex;
  justify-content: space-between;
}

.section-services .service {
	width: 320px;
	margin-top: 60px;
	/* margin-bottom: 80px; */
	border: 1px solid rgba(59, 58, 58, 0.1);
	cursor: default;
	box-shadow: 0px 4px 12px 0px rgba(186,186,186,0);
	border-radius: 8px;
  overflow: hidden;
}

.section-services .service:hover {
	box-shadow: 0px 4px 12px 0px rgba(186,186,186,1);
	transform: scale(1.04);
	transition: all .4s ease-in-out;
}

.section-services .service h3 {
	text-align: center;
	font-weight: 300;
	color: rgb(139, 139, 139)
}

.service .service-text {
  color: #a2a5ad;
}


/* Responsive */
@media (max-width: 1200px) {
	.page-width {
		width: auto;
		max-width: none;
		margin: 0 30px;
	}
}