body {
	margin: 0;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.863);
}

.main-container {
  margin: 0;
}

/* Reuseables */
.page-width {
	width: 100%;
	max-width: 1020px;
	margin: 0 auto;
}

.list-reset {
	padding-left: 0;
  list-style: none;
  text-decoration: black;
}

.image-reset {
  display: block;
	width: 100%;
}


/* Social menu */
.social-menu {
  margin-left: -1px;
  margin-top: -40px;
  position: fixed;
}

.social-list {
  list-style: none;
  padding: 0%;
  width: 0%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 8px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #70747e;
    color: white;
  }
  
  .fa-linkedin {
    background: #70747e;
    color: white;
  }
  
  .fa-instagram {
    background: #70747e;
    color: white;
  }
  

/* Navigation */
.navbar {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar .hlt-logo {
  width: 50px;
	position: fixed;
}

/* Main content */
/* .main {
  margin-top: 30px; 
} */


/* HLT */
.main-hlt-logo {
  position: center;
  margin: 30px;
  margin-top: 150px;
  margin-left: 80px;
}

.logo-reset {
  width: 1250px;
}


/* Legend */
.legend-header h1 {
  margin-top: 60px;
  text-align: center;
  color: rgb(204, 204, 204);
}

.legend-text {
  text-align: justify;
  margin-top: 30px;
  font-size: large;
  font-weight: 400;
  margin: 20px;
  color: #a2a5ad;
}


/* Services */
.section-services {
  display: flex;
  justify-content: space-between;
}

.section-services .service {
	width: 320px;
	margin-top: 60px;
	margin-bottom: 80px;
	border: 1px solid rgba(59, 58, 58, 0.1);
	cursor: default;
	box-shadow: 0px 4px 12px 0px rgba(186,186,186,0);
	border-radius: 8px;
  overflow: hidden;
}

.section-services .service:hover {
	box-shadow: 0px 4px 12px 0px rgba(186,186,186,1);
	transform: scale(1.04);
	transition: all .4s ease-in-out;
}

.section-services .service h3 {
  font-style: inherit;
	text-align: center;
	font-weight: 400;
	color: rgb(187, 185, 185)
}

.service .service-text {
  padding: 10px;
  text-align: justify;
  color: #a2a5ad;
}


/* Contacts */
.container {
  display: flex;
  justify-content: space-between;
  width: 820px;
  align-items: fill;
  margin-top: 80px;
  margin-left: 120px;
	/* border: 1px solid rgba(112, 108, 108, 0.1); */
	box-shadow: 0px 4px 12px 0px rgba(186,186,186,0);
	border-radius: 8px;
  overflow: hidden;
}

.contacts-info {
  list-style: none;
  color: #a2a5ad;
  text-justify: distribute;
  font-size: large;
}

.contacts-logo {
	width: 100%;
}


/* Responsive */
@media (max-width: 1200px) {
	.page-width {
		width: auto;
		max-width: none;
		margin: 0 30px;
	}
}